:root {
    --mainfont-nanum: "nanumSquareNeo";
    --mainfont-nexon: "nexonLv1";

    --black: #000;
    --black100: #100;
    --black200: #200;
    --black300: #300;
    --black400: #400;
    --black500: #500;

    --blackAlpha: #00000000;
    --blackAlpha100: #00000025;
    --blackAlpha200: #0000004d;
    --blackAlpha300: #00000091;
    --blackAlpha400: #000000c3;
    --blackAlpha500: #000000eb;
    
    --white: #fff;
    --white100: #efefef;
    --white200: #d9d9d9;
    --white300: #fff;
    --white400: #fff;
    --white500: #fff;

    --red: #f00;

    // 폰트 셋팅
    font-family: var(--mainfont-nanum), var(--mainfont-nexon); //기본폰트 나눔 서브 폰트는 넥슨
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    // 모바일까지 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; //아이폰에서 가로모드로 봤을 때 폰트 커지는 현상 방지

    @media (max-width: 800px) {  //기본은 16px 인데 모바일에선 14px 로 변경
        font-size: 14px;
        line-height: 1.4;
    }
}